<div class="page-header">
    <h1>{{service.name}}<small>created at {{service.createdDate|date:'short'}}</small></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tr>
                    <th>
                        <msg key="name"></msg>
                    </th>
                    <th>
                        <msg key="code"></msg>
                    </th>
                </tr>
                <tr ng-repeat="group in service.configGroups">
                    <td><a ng-href="#/services/{{service.id}}/{{group}}">{{group}}</a></td>
                    <td>{{group}}</td>
                </tr>
            </table>
        </div>
        <div class="table-responsive" ng-hide="checkData()">
            <table class="table table-striped table-hover">
                <tr>
                    <th>
                        <msg key="keyname"></msg>
                    </th>
                    <th ng-repeat="env in service.environments" >
                        <msg key="{{env}}"></msg>
                    </th>
                </tr>
                <tr ng-repeat="prop in service.properties" >
                    <td>{{prop.name}}</td>
                    <td ng-repeat="val in prop.values" >
                        {{val}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div> 


